<h2>My <%= capitalize(namePlural) %></h2>

<div>
  <label><%= capitalize(name) %> name:
    <input #<%= name %>Name />
  </label>
  <!-- (click) 入力値をadd()に渡したあと、入力をクリアする -->
  <button (click)="add(<%= name %>Name.value); <%= name %>Name.value=''">
    add
  </button>
</div>

<ul class="<%= dasherize(namePlural) %>" *ngIf="<%= namePlural %>$ | async as <%= namePlural %>">
  <li *ngFor="let <%= name %> of <%= namePlural %>">
    <a routerLink="/detail/{{<%= name %>.id}}">
      <span class="badge">{{<%= name %>.id}}</span> {{<%= name %>.name}}
    </a>
    <button class="delete" title="delete <%= name %>"
    (click)="delete(<%= name %>)">x</button>
  </li>
</ul>

<app-<%= dasherize(name) %>-search></app-<%= dasherize(name) %>-search>
